.details-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}

.details-box {
  width: 650px;
  display: flex;
  flex-direction: column;
}

.character-name {
  margin: 0;
  font-size: 26px;
  font-weight: bold;
  color: #000;
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 20px;
}

.details-section {
  display: flex;
  flex-direction: column;
}

.section-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.section-divider {
  width: 100%;
  height: 1px;
  background: #ccc;
  margin: 6px 0 12px 0;
}

.info-list p {
  margin: 4px 0;
  font-size: 14px;
  color: #000;
}

.movie-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.movie-link {
  color: #0094ff;
  font-size: 14px;;
}

.movie-link:hover {
  text-decoration: underline;
}

.btn-back {
  margin-top: 30px;
  padding: 10px;
  width: 200px;
  background-color: #0ab463;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}
