.left-box {
  width: 30%;
  height: 115px;
  padding: 15px;
  background-color: #fff;
  border-radius: 2px;
  border: 0.5px solid var(--green-teal);
  box-shadow: 0 0.5px 1px 0 var(--warm-grey-75);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
