.right-box {
  width: 60%;
  min-height: 291px;
  padding: 15px;
  background-color: #fff;
  border-radius: 2px;
  border: 0.5px solid var(--green-teal);
  box-shadow: 0 0.5px 1px 0 var(--warm-grey-75);
  display: flex;
  flex-direction: column;
}

.results-title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.results-divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 8px 0 12px 0;
}

.results-content {
  color: #666;
  font-size: 14px;
}
