/* FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  color: #000;
}

/* RADIO LABELS */
.radio-row {
  display: flex;
  gap: 20px;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

/* RADIO BUTTON */
.radio {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

.radio:checked {
    border-color: #1e90ff;
    background-color: #fff;
    box-shadow: inset 0 0 0 4px #0094ff;
}

/* INPUT TEXT */
.text-input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  outline: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

/* BUTTOM */
.btn-search {
  padding: 10px;
  background-color: #c4c4c4;
  padding: 4px 72px 4px 72.5px;
  border-radius: 20px;
  border: solid 0.5px var(--pinkish-grey);
  cursor: pointer;
  font-weight: bold;
  font-stretch: normal;
  font-family: Montserrat;
  font-style: normal;
  color: #fff;
}

.btn-search.active {
  background-color: #0ab463;
}
