services:
  mysql:
    image: mysql:8.0
    container_name: laravel_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - appnet

  backend:
    build:
      context: ./star-wars-backend
      dockerfile: Dockerfile
    expose:
      - "9000"
    volumes:
      - ./star-wars-backend:/var/www/html
      - ./star-wars-backend/database:/var/www/html/database
    networks:
      - appnet
    depends_on:
      - mysql
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_DATABASE=laravel
      - DB_USERNAME=admin
      - DB_PASSWORD=admin

  nginx:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./star-wars-backend:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    networks:
      - appnet

  frontend:
    build:
      context: ./star-wars-frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    networks:
      - appnet

  redis:
    image: redis:alpine
    container_name: laravel_redis
    ports:
      - "6379:6379"

  queue:
    build:
      context: ./star-wars-backend
      dockerfile: Dockerfile
    container_name: laravel_queue
    command: php artisan queue:work --tries=3 -vvv
    depends_on:
      - backend
      - redis
      - mysql
    volumes:
      - ./star-wars-backend:/var/www/html
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_DATABASE=laravel
      - DB_USERNAME=admin
      - DB_PASSWORD=admin
    networks:
      - appnet

  scheduler:
    build:
      context: ./star-wars-backend
      dockerfile: Dockerfile
    container_name: laravel_scheduler
    command: /bin/sh -c "while true; do php artisan schedule:run; sleep 60; done"
    depends_on:
      - backend
      - mysql
    volumes:
      - ./star-wars-backend:/var/www/html
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_DATABASE=laravel
      - DB_USERNAME=admin
      - DB_PASSWORD=admin
    networks:
      - appnet

networks:
  appnet:
    driver: bridge

volumes:
  mysql_data: